@import "tailwindcss";

@theme {
  --color-portfolio-primary-blue: #4169E1;
  --color-portfolio-light-blue: #E8EAF6;
  --color-portfolio-primary-blue-lightest: #BDCBFA;
  --color-portfolio-blue-tinted-gray: #E0E7FF;
  --color-portfolio-primary-purple: #7C3AED;
  --color-portfolio-primary-yellow: #FCD34D;
  --color-portfolio-primary-green: #10B981;
  --color-portfolio-primary-red: #EF4444;
  --color-portfolio-beige: #E8E4E0;
  --color-portfolio-light-purple: #F2E6FF;
}