@import "tailwindcss";

@theme {
  --color-proj-15-green-700: hsl(169, 83%, 16%);
  --color-proj-15-green-600: hsl(169, 82%, 27%);
  --color-proj-15-green-400: hsla(169, 82%, 40%, 0.7);
  --color-proj-15-green-200: hsl(148, 38%, 91%);
  --color-error: #ff0000;
}