@import "tailwindcss";

@theme {
  --color-proj-26-primary-gold-500: hsl(39, 89%, 49%);
  --color-proj-26-primary-gold-600: hsl(28, 76%, 44%);
  --color-proj-26-primary-blue-500: hsl(230, 89%, 62%);
  --color-proj-26-primary-blue-700: hsl(229, 64%, 46%);
  --color-proj-26-primary-red-600: hsl(349, 71%, 52%);
  --color-proj-26-primary-red-800: hsl(347, 75%, 35%);
  --color-proj-26-primary-purple-600: hsl(261, 73%, 60%);
  --color-proj-26-primary-purple-700: hsl(261, 51%, 44%);
  --color-proj-26-primary-light-blue-400: hsl(189, 59%, 53%);
  --color-proj-26-primary-light-blue-500: hsl(194, 58%, 42%);
  --color-proj-26-neutral-navy-900: hsl(229, 25%, 31%);
  --color-proj-26-neutral-blue-700: hsl(229, 64%, 46%);
  --color-proj-26-neutral-gray-600: hsl(246, 11%, 37%);
  --color-proj-26-gradient-from: hsl(214, 47%, 23%);
  --color-proj-26-gradient-to: hsl(237, 48%, 15%);
}