body {
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    line-height: 30px;
}

button {
    height: 50px;
    width: 150px;
    top: 425px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

img {
    margin-top: 15px;
}

footer {
    font-size: 14px;
    text-align: center;
    color: black;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 10px;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    width: 100%;
    max-width: 1024px;
    margin: 25px;
}

.column {
    float: left;
    position: relative;
    width: 33.33%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sedans button {
    color:hsl(31, 77%, 52%);
}

.suvs button {
    color:hsl(184, 100%, 22%);
}

.luxury button {
    color:hsl(179, 100%, 13%);
}

.sedans button:hover {
    background-color:hsl(31, 77%, 52%);
    color: white;
    border: 1px solid white;
}

.suvs button:hover {
    background-color:hsl(184, 100%, 22%);
    color: white;
    border: 1px solid white;
}

.luxury button:hover {
    background-color:hsl(179, 100%, 13%);
    color: white;
    border: 1px solid white;
}

@media (max-width: 700px) {
    footer {
        display: none;
    }

    .column {
        width: 100%;
    }

    .sedans {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
    
    .luxury {
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0;
    }
}