@import "tailwindcss";

@theme {
  --color-proj-17-red: hsl(14, 86%, 42%);
  --color-proj-17-red-700: hsl(14, 86%, 32%);
  --color-proj-17-green: hsl(159, 69%, 38%);
  --color-proj-17-rose-50: hsl(20, 50%, 98%);
  --color-proj-17-rose-100: hsl(13, 31%, 94%);
  --color-proj-17-rose-300: hsl(14, 25%, 72%);
  --color-proj-17-rose-400: hsl(7, 20%, 60%);
  --color-proj-17-rose-500: hsl(12, 20%, 44%);
  --color-proj-17-rose-900: hsl(14, 65%, 9%);
}