@import "tailwindcss";


@theme {
  --color-proj-23-theme-1-very-dark-desaturated-blue-var-1: hsl(222, 26%, 31%);
  --color-proj-23-theme-1-very-dark-desaturated-blue-var-2: hsl(223, 31%, 20%);
  --color-proj-23-theme-1-very-dark-desaturated-blue-var-3: hsl(224, 36%, 15%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-1: hsl(225, 21%, 49%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-2: hsl(224, 28%, 35%);
  --color-proj-23-theme-1-red: hsl(6, 63%, 50%);
  --color-proj-23-theme-1-dark-red: hsl(6, 70%, 34%);
  --color-proj-23-theme-1-light-grayish-orange: hsl(30, 25%, 89%);
  --color-proj-23-theme-1-grayish-orange: hsl(28, 16%, 65%);
  --color-proj-23-theme-1-very-dark-grayish-blue: hsl(221, 14%, 31%);
  --color-proj-23-theme-1-white: hsl(0, 0%, 100%);
  --color-proj-23-theme-1-light-grayish-orange-hover: hsl(30, 25%, 60%);
  --color-proj-23-theme-1-light-grayish-orange-active: hsl(30, 25%, 84%);
  --color-proj-23-theme-1-grayish-orange-hover: hsl(28, 16%, 70%);
  --color-proj-23-theme-1-grayish-orange-active: hsl(28, 16%, 60%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-1-hover: hsl(225, 21%, 54%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-1-active: hsl(225, 21%, 44%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-2-hover: hsl(224, 28%, 40%);
  --color-proj-23-theme-1-desaturated-dark-blue-var-2-active: hsl(224, 28%, 30%);
  --color-proj-23-theme-1-red-hover: hsl(6, 63%, 55%);
  --color-proj-23-theme-1-red-active: hsl(6, 63%, 45%);
  --color-proj-23-theme-1-dark-red-hover: hsl(6, 70%, 39%);
  --color-proj-23-theme-1-dark-red-active: hsl(6, 70%, 29%);
  --color-proj-23-theme-2-light-gray: hsl(0, 0%, 90%);
  --color-proj-23-theme-2-grayish-red: hsl(0, 5%, 81%);
  --color-proj-23-theme-2-very-light-gray: hsl(0, 0%, 93%);
  --color-proj-23-theme-2-dark-moderate-cyan: hsl(185, 42%, 37%);
  --color-proj-23-theme-2-very-dark-cyan: hsl(185, 58%, 25%);
  --color-proj-23-theme-2-orange: hsl(25, 98%, 40%);
  --color-proj-23-theme-2-dark-orange: hsl(25, 99%, 27%);
  --color-proj-23-theme-2-light-grayish-yellow: hsl(45, 7%, 89%);
  --color-proj-23-theme-2-dark-grayish-orange: hsl(35, 11%, 61%);
  --color-proj-23-theme-2-very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --color-proj-23-theme-2-light-grayish-yellow-hover: hsl(45, 7%, 94%);
  --color-proj-23-theme-2-light-grayish-yellow-active: hsl(45, 7%, 84%);
  --color-proj-23-theme-2-dark-grayish-orange-hover: hsl(35, 11%, 66%);
  --color-proj-23-theme-2-dark-grayish-orange-active: hsl(35, 11%, 56%);
  --color-proj-23-theme-2-dark-moderate-cyan-hover: hsl(185, 42%, 42%);
  --color-proj-23-theme-2-dark-moderate-cyan-active: hsl(185, 42%, 32%);
  --color-proj-23-theme-2-very-dark-cyan-hover: hsl(185, 58%, 30%);
  --color-proj-23-theme-2-very-dark-cyan-active: hsl(185, 58%, 20%);
  --color-proj-23-theme-2-orange-hover: hsl(25, 98%, 45%);
  --color-proj-23-theme-2-orange-active: hsl(25, 98%, 35%);
  --color-proj-23-theme-2-dark-orange-hover: hsl(25, 99%, 32%);
  --color-proj-23-theme-2-dark-orange-active: hsl(25, 99%, 22%);
  --color-proj-23-theme-3-very-dark-violet-var-1: hsl(268, 75%, 9%);
  --color-proj-23-theme-3-very-dark-violet-var-2: hsl(268, 71%, 12%);
  --color-proj-23-theme-3-dark-violet: hsl(281, 89%, 26%);
  --color-proj-23-theme-3-vivid-magenta: hsl(285, 91%, 52%);
  --color-proj-23-theme-3-pure-cyan: hsl(176, 100%, 44%);
  --color-proj-23-theme-3-soft-cyan: hsl(177, 92%, 70%);
  --color-proj-23-theme-3-very-dark-violet-var-3: hsl(268, 47%, 21%);
  --color-proj-23-theme-3-dark-magenta: hsl(290, 70%, 36%);
  --color-proj-23-theme-3-light-yellow: hsl(52, 100%, 62%);
  --color-proj-23-theme-3-very-dark-blue: hsl(198, 20%, 13%);
  --color-proj-23-theme-3-very-dark-violet-var-3-hover: hsl(268, 47%, 26%);
  --color-proj-23-theme-3-very-dark-violet-var-3-active: hsl(268, 47%, 16%);
  --color-proj-23-theme-3-dark-magenta-hover: hsl(290, 70%, 41%);
  --color-proj-23-theme-3-dark-magenta-active: hsl(290, 70%, 31%);
  --color-proj-23-theme-3-dark-violet-hover: hsl(281, 89%, 31%);
  --color-proj-23-theme-3-dark-violet-active: hsl(281, 89%, 21%);
  --color-proj-23-theme-3-vivid-magenta-hover: hsl(285, 91%, 57%);
  --color-proj-23-theme-3-vivid-magenta-active: hsl(285, 91%, 47%);
  --color-proj-23-theme-3-pure-cyan-hover: hsl(176, 100%, 49%);
  --color-proj-23-theme-3-pure-cyan-active: hsl(176, 100%, 39%);
  --color-proj-23-theme-3-soft-cyan-hover: hsl(177, 92%, 75%);
  --color-proj-23-theme-3-soft-cyan-active: hsl(177, 92%, 65%);

  --shadow-proj-18: 0 6px 12px -2px rgb(0 0 0 / 0.05), 0 10px 10px -14px rgb(0 0 0 / 0.05);
  --shadow-proj-23-theme-1-desaturated-dark-blue-var-2: 0px 4px hsl(224, 28%, 35%);
  --shadow-proj-23-theme-1-dark-red: 0px 4px hsl(6, 70%, 34%);
  --shadow-proj-23-theme-1-grayish-orange: 0px 4px hsl(28, 16%, 65%);
  --shadow-proj-23-theme-2-very-dark-cyan: 0px 4px hsl(185, 58%, 25%);
  --shadow-proj-23-theme-2-dark-orange: 0px 4px hsl(25, 99%, 27%);
  --shadow-proj-23-theme-2-dark-grayish-orange: 0px 4px hsl(35, 11%, 61%);
  --shadow-proj-23-theme-3-vivid-magenta: 0px 4px hsl(285, 91%, 52%);
  --shadow-proj-23-theme-3-soft-cyan: 0px 4px hsl(177, 92%, 70%);
  --shadow-proj-23-theme-3-dark-magenta: 0px 4px hsl(290, 70%, 36%);
}